body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

header {
    background: #0060de;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px;
    text-align: center;
}

.hero {
    background: linear-gradient(to right, #0060de, #0099ff);
    color: white;
    padding: 100px 20px;
}

.btn {
    background: #092645;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.service-box,
.doctor-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card,
.doctor-card {
    background: white;
    padding: 25px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

form {
    background: white;
    padding: 30px;
    width: 320px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

footer {
    background: #092645;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
.clear{
    background: #092645;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
